---
layout: base
title: Animals
pagination:
  data: photos.h8stntd.media
  size: 1
  alias: anim
permalink: "/animals/{{ anim.id }}/index.html"
---

<br>
<div style="font-size:20px;">
  <a href="/cpsc349-project1">Home</a>
  <a href="/cpsc349-project1/about/index.html">&emsp;About Us</a>
</div>

<header>
    <h1>{{ title }} </h1>
</header>

<div style="font-size:24px;margin:0;padding:0;text-align:center;">
  <ul>
    <li style="list-style:none;">
      <div style="text-align:center;">
        <p>{% if pagination.href.previous %}<a href="/cpsc349-project1{{pagination.href.previous}}">Previous</a>{% else %}Previous{% endif %}</p>
        <p>{% if pagination.href.next %}<a href="/cpsc349-project1{{pagination.href.next}}">Next</a>{% else %}Next{% endif %}</p>
      </div>
    </li>
  </ul>
</div>
<div>
  <ul style="text-align:center;">
    <li style="list-style:none;">
      <img src="{{ anim.src.large }}" alt="{{ anim.alt }}">
      <div style="font-size:18px;">
        <p>{{anim.alt}}</p>
        <p>Photographer: {{anim.photographer}}</p>
      </div>
    </li>
  </ul>
</div>
<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>
