---
layout: base
title: Home
---
<header style= "text-align: center; font-size: 32px; padding:0;">
    <h1>{{ title }} </h1>
</header>
<br>

<div style="text-align: center; font-size: 28px;">
  <large>
    <p>Beautiful and exotic animals from all around the world in one galler!</p>
    <br>
    <a href="/cpsc349-project1/about/index.html">About Us</a>
  </large>
</div>

  <body>
      {% for collection in photos.h8stntd.media -%}
      <a href="/cpsc349-project1/animals/{{collection.id}}">
        <img src= "{{ collection.src.tiny }}" alt="{{collection.alt}}">
        {% endfor -%}
      </a>
      <br>
      <div style="text-align: center; font-size: 40px;">
        <a href="/cpsc349-project1/mexico">Mexico Gallery</a>
      </div>
      <br>
      <div style="text-align: center; font-size: 28px;">
          Stunning pictures of Mexican culture
      </div>
        {% for mex in photos.jfgzzl3.media -%}
          <a href="/cpsc349-project1/mexico">
          <img src= "{{ mex.src.tiny }}">
          </a>
          {% endfor -%}
</body>


      <footer>
          <hr>
          <p>
              <small>
                  <a href="https://www.pexels.com">Photos provided by Pexels</a>
              </small>
          </p>
      </footer>
