---
layout: base
title: Home
---

<header style="text-align: center; font-size: 32px; padding: 0">
	<h1>{{ title }}</h1>
</header>
<br />

<div style="text-align: center; font-size: 28px">
	<large>
		<a href="animals">Animal Gallery</a>
		<br />
		<a href="storms">Storm Gallery</a>
		<br />
		<a href="about">About Us</a>
	</large>
	<div>
		<body>
			<p>
				Beautiful and exotic animals from all around the world in one gallery!
			</p>
			{% for collection in photos.h8stntd.media -%}
			<a href="/animals">
				<img src="{{ collection.src.tiny }}" />
				{% endfor -%}
			</a>
			<br />
			<br />
			<p>
				A storm gallery collection showcasing lightning storms, wind storms,
				ocean storms, and snow storms!
			</p>
			{% for collection in photos.fpyycnd.media -%}
			<a href="/storms/{{collection.id}}">
				<img src="{{ collection.src.tiny }}" />
				{% endfor -%}
			</a>
		</body>

		<footer>
			<hr />
			<p>
				<small>
					<a href="https://www.pexels.com">Photos provided by Pexels</a>
				</small>
			</p>
		</footer>
	</div>
</div>
